<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.dm.dao.IMemberDao">

	<resultMap type="memberDto" id="rsMap">
		<result property="mbrCode" column="MBR_CODE" />
		<result property="mbrId" column="MBR_ID" />
		<result property="mbrPwd" column="MBR_PWD" />
		<result property="mbrName" column="MBR_NAME" />
		<result property="mbrBrthdy" column="MBR_BRTHDY" />
		<result property="mbrSex" column="MBR_SEX" />
		<result property="mbrEmail" column="MBR_EMAIL" />
		<result property="mbrTelNo" column="MBR_TELNO" />
		<result property="mbrGrade" column="MBR_GRADE" />
		<result property="sbscrbDate" column="SBSCRB_DATE" />
		<result property="schulGradeClass" column="SCHUL_GRADE_CLASS" />	
	</resultMap>
		
	<select id="mbrSltone" parameterType="String" resultMap="rsMap">
		SELECT *
		FROM DMEMBER
		WHERE MBR_CODE = #{mbrCode}
	</select>

	<insert id="mbrInsert">
		INSERT INTO DMEMBER
		VALUES(#{mbrCode}, #{mbrId}, #{mbrPwd},
		#{mbrName}, #{mbrBrthdy}, #{mbrSex},
		#{mbrEmail}, #{mbrTelNo}, #{mbrGrade},
		#{sbscrbDate}, #{schulGradeClass})
	</insert>
	
	<update id="mbrUpdate" >	 
		UPDATE DMEMBER SET
		MBR_PWD = #{mbrPwd},
		MBR_NAME = #{mbrName},
		MBR_BRTHDY = #{mbrBrthdy},
		MBR_SEX = #{mbrSex},
		MBR_EMAIL = #{mbrEmail},
		MBR_TELNO = #{mbrTelNo},
		MBR_GRADE = #{mbrGrade},
		SBSCRB_DATE = #{sbscrbDate},
		SCHUL_GRADE_CLASS = #{schulGradeClass}
		WHERE MBR_CODE = #{mbrCode} 
	</update>

	<delete id="mbrDelete">
		DELETE FROM DMEMBER
		WHERE MBR_CODE = #{mbrCode}
	</delete>

</mapper>


