<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.dm.dao.IOrderDetailDao">

	<resultMap type="orderDetailDto" id="rsMap">
		<id property="orderCode" column="ORDER_CODE" />
		<result property="prdCode" column="PRD_CODE" />
		<result property="detailOrderQy" column="DETAIL_ORDER_QY" />
	</resultMap>

	<select id="orderDetailSltone" parameterType="orderDetailDto" resultMap="rsMap">
		SELECT *
		FROM ORDER_DETAIL
		WHERE ORDER_CODE = #{orderCode}
		AND PRD_CODE = #{prdCode}
	</select>

	<insert id="orderDetailInsert" >
		INSERT INTO ORDER_DETAIL 
		VALUES(#{orderCode}, #{prdCode}, #{detailOrderQy})
	</insert>
</mapper>
