<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.dm.dao.IProductImageTaskDao">

	<resultMap type="productImageDto" id="rsMap1">
		<result property="prdCode" column="PRD_CODE" />
		<result property="prdImageCode" column="PRD_IMAGE_CODE" />
		<result property="prdImageUrl" column="PRD_IMAGE_URL" />
	</resultMap>
	
	<resultMap type="productDto" id="rsMap2">
		<result property="prdCode" column="PRD_CODE" />
		<result property="pclCode" column="PCL_CODE" />
		<result property="prdName" column="PRD_NAME" />
		<result property="prdPc" column="PRD_PC" />
		<result property="prdInvntry" column="PRD_INVNTRY" />
		<result property="prdCn" column="PRD_CN" />
		<result property="prdRegistDate" column="PRD_REGIST_DATE" />
		<result property="prdRecomendAt" column="PRD_RECOMEND_AT" />
		<result property="prdRecomendCnt" column="PRD_RECOMEND_CNT" />
		<result property="prdSe" column="PRD_SE" />
	</resultMap>
	
	<resultMap type="HashMap" id="rsMap">
		<collection property="productImage" resultMap="rsMap1"></collection>
		<collection property="product" resultMap="rsMap2"></collection>
	</resultMap>
	
	<select id="bestPrdImgGet" resultMap="rsMap1">
		SELECT *
		FROM PRODUCT JOIN PRODUCT_IMAGE
		ON (PRODUCT.PRD_CODE = PRODUCT_IMAGE.PRD_CODE)
		WHERE PRD_IMAGE_CODE = '03' AND PRD_SE = '0202'
	</select>
	
	<select id="prdNameSearchCount" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM PRODUCT JOIN PRODUCT_IMAGE
		ON (PRODUCT.PRD_CODE = PRODUCT_IMAGE.PRD_CODE)
		WHERE PRD_NAME LIKE #{prdName} AND PRODUCT_IMAGE.PRD_IMAGE_CODE = '01'
	</select>
	
	<select id="prdNameSearchPaging" parameterType="HashMap" resultType="HashMap" resultMap="rsMap"> 
		SELECT *
		FROM (SELECT ROWNUM RNUM
		           , O.*
      		  FROM (SELECT *
     		 		FROM PRODUCT JOIN PRODUCT_IMAGE
     		 		ON (PRODUCT.PRD_CODE = PRODUCT_IMAGE.PRD_CODE)
     		 		WHERE PRD_NAME LIKE #{prdName} AND PRODUCT_IMAGE.PRD_IMAGE_CODE = '01'
     		 	   ) O
     		 )
     	WHERE RNUM <![CDATA[>=]]> #{STARTROW}
     	AND ROWNUM <![CDATA[<=]]> #{MAXROWS}
     	
	</select>
	
	<select id="hotNewPrdSltmul" parameterType="String" resultType="HashMap" resultMap="rsMap">
		SELECT *
		FROM PRODUCT JOIN PRODUCT_IMAGE
		ON (PRODUCT.PRD_CODE = PRODUCT_IMAGE.PRD_CODE)
		WHERE PRD_IMAGE_CODE = '01' AND PRD_SE = #{prdSe}
	</select>
	
</mapper>
