#checkicon{
    width: 120px;
    margin-left: 180px;
    margin-bottom: 50px;
}

#cancelmainfont{
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 70px;
}
#cancelButtonBox{
    display: flex;
    justify-content: center;
}
#cancelButtonBox #cancelButton{
    background-color: white;
    color: rgb(46, 204, 113);
    border: 1px solid rgb(46, 204, 113);
    width: 130px;
    height: 60px;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;

}

#cancelButtonBox #homeButton{
    background-color: rgb(46, 204, 113);
    color:white;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 5px;
    border : 0px;
    width: 130px;
    height: 60px;
    cursor: pointer;
    margin-left: 60px;
}





